{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Paiement Annulé</h1>
        <p>Le paiement n'a pas pu être finalisé ou vous l'avez annulé.</p>
        <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    </div>

{% endblock %}
